.hero {
    background-color: $bg;
    padding: 0;
    padding-top: 7rem;
}
.hero__container {
    text-align: center;
    display: grid;
    grid-template-columns: 7fr 3fr;
    padding: 4rem;

    @include media(lg) {
        grid-template-columns: 1fr;

        img {
            display: none;
        }
    }
}
.hero__heading {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4rem;

    span {
        color: $primary;
    }
}

.hero__content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
