.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg;
    padding: 4rem;
}
.footer__heading {
    margin-bottom: 2rem;
}
